importing the dependencies

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso 
from sklearn.preprocessing import LabelEncoder
import pickle

Data Preprocessing

In [3]:
# loading the data from csv file to pandas dataframe

In [4]:
car_dataset = pd.read_csv('/content/car data.csv')

In [5]:
#inspecting the first five rows of the dataframe

In [12]:
car_dataset.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [9]:
#checking the number of rows and columns
car_dataset.shape

(301, 9)

In [10]:
#getting some information about dataset
car_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Present_Price  301 non-null    float64
 4   Kms_Driven     301 non-null    int64
 5   Fuel_Type      301 non-null    object
 6   Seller_Type    301 non-null    object
 7   Transmission   301 non-null    object
 8   Owner          301 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 21.3+ KB

In [13]:
#checking the number of missing values
car_dataset.isnull().sum()

Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
dtype: int64

Cleaning the dataset

In [17]:
#encoding 'Fuel_Type' column
car_dataset.replace({'Fuel_Type' : {'Petrol':0,'Diesel':1,'CNG':2}},inplace=True)

#encoding 'Seller_Type' column
car_dataset.replace({'Seller_Type' : {'Dealer':0,'Individual':1}},inplace=True)

#encoding 'Transmission' column
car_dataset.replace({'Transmission' : {'Manual':0,'Automatic':1}},inplace=True)

In [22]:
car_dataset.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,0,0,0,0
1,sx4,2013,4.75,9.54,43000,1,0,0,0
2,ciaz,2017,7.25,9.85,6900,0,0,0,0
3,wagon r,2011,2.85,4.15,5200,0,0,0,0
4,swift,2014,4.60,6.87,42450,1,0,0,0

Splitting Data into Independent and Dependent Variables

In [23]:
X = car_dataset.drop(['Car_Name','Selling_Price'],axis= 1)
Y = car_dataset['Selling_Price']

In [36]:
print(X)

     Year  Present_Price  Kms_Driven  Fuel_Type  Seller_Type  Transmission  \
0    2014           5.59       27000          0            0             0
1    2013           9.54       43000          1            0             0
2    2017           9.85        6900          0            0             0
3    2011           4.15        5200          0            0             0
4    2014           6.87       42450          1            0             0
..    ...            ...         ...        ...          ...           ...
296  2016          11.60       33988          1            0             0
297  2015           5.90       60000          0            0             0
298  2009          11.00       87934          0            0             0
299  2017          12.50        9000          1            0             0
300  2016           5.90        5464          0            0             0

     Owner
0        0
1        0
2        0
3        0
4        0
..     ...
296      0
297      0
298      0
299      0
300      0

[301 rows x 7 columns]

In [28]:
print(Y)

0       3.35
1       4.75
2       7.25
3       2.85
4       4.60
       ...
296     9.50
297     4.00
298     3.35
299    11.50
300     5.30
Name: Selling_Price, Length: 301, dtype: float64

Spiltting the Training data and Test Data

In [29]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size = 0.1,random_state = 2)

In [31]:
print(X_train)

     Year  Present_Price  Kms_Driven  Fuel_Type  Seller_Type  Transmission  \
204  2015          4.430       28282          0            0             0
249  2016          7.600       17000          0            0             0
277  2015         13.600       21780          0            0             0
194  2008          0.787       50000          0            1             0
244  2013          9.400       49000          1            0             0
..    ...            ...         ...        ...          ...           ...
75   2015          6.800       36000          0            0             0
22   2011          8.010       50000          0            0             1
72   2013         18.610       56001          0            0             0
15   2016         10.790       43000          1            0             0
168  2013          0.730       12000          0            1             0

     Owner
204      0
249      0
277      0
194      0
244      0
..     ...
75       0
22       0
72       0
15       0
168      0

[270 rows x 7 columns]

In [32]:
print(X_test)

     Year  Present_Price  Kms_Driven  Fuel_Type  Seller_Type  Transmission  \
99   2010         20.450       50024          1            0             0
161  2014          0.826       23000          0            1             0
89   2014          6.760       40000          0            0             0
30   2012          5.980       51439          1            0             0
232  2015         14.790       12900          0            0             1
290  2014          6.400       19000          0            0             0
35   2011          7.740       49998          2            0             0
7    2015          8.610       33429          1            0             0
183  2013          0.470       21000          0            1             0
13   2015          7.710       26000          0            0             0
269  2015         10.000       18828          0            0             0
65   2014          6.950       45000          1            0             0
178  2014          0.520       19000          0            1             1
258  2015         13.600       25000          0            0             0
227  2011          4.430       57000          0            0             0
133  2016          0.950         500          0            1             0
130  2017          0.870       11000          0            1             0
156  2017          0.520       15000          0            1             0
237  2015         13.600       68000          1            0             0
262  2015          5.800       40023          0            0             0
112  2014          2.400        7000          0            1             0
282  2014         14.000       63000          1            0             0
164  2016          0.540       14000          0            1             0
275  2016         13.600       30753          0            0             1
154  2014          0.880        8000          0            1             0
29   2015         10.380       45000          1            0             0
141  2016          0.800       20000          0            1             0
192  2007          0.750       49000          0            1             0
216  2016          4.430       12500          0            0             0
3    2011          4.150        5200          0            0             0
159  2017          0.510        4000          0            1             1

     Owner
99       0
161      0
89       0
30       0
232      0
290      0
35       0
7        0
183      0
13       0
269      0
65       0
178      0
258      0
227      0
133      0
130      0
156      0
237      0
262      0
112      0
282      0
164      0
275      0
154      0
29       0
141      0
192      1
216      0
3        0
159      0

In [33]:
print(Y_train)

204    2.75
249    5.25
277    9.70
194    0.20
244    5.95
       ...
75     3.95
22     4.40
72     7.45
15     7.75
168    0.42
Name: Selling_Price, Length: 270, dtype: float64

In [34]:
print(Y_test)

99      9.65
161     0.45
89      4.75
30      3.10
232    11.45
290     4.50
35      2.95
7       6.50
183     0.27
13      6.10
269     6.70
65      4.75
178     0.35
258     8.40
227     2.55
133     0.72
130     0.75
156     0.48
237    11.25
262     4.00
112     1.15
282     8.25
164     0.45
275    10.90
154     0.50
29      7.45
141     0.60
192     0.20
216     2.90
3       2.85
159     0.45
Name: Selling_Price, dtype: float64